body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 255, 0));
    padding: 0;
    margin: 0;
    padding-bottom: 100px;
  }
  
  header{
    text-align: center;
  }
  
  .active{
    background-color: rgb(255, 0, 255);
  }
  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li{
    float: left;
  }
  
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  li a:hover:not(.active){
    background-color: #908b8b;
  }
  
  h1{
    background-color: black;
    padding: 10px;
    margin: 0;
    color: rgb(255, 0, 255);
  }
  
  footer{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  
  
  
  
  
  
  
  .subtitulo {
    margin: 15px;
    padding: 0;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  h2{
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  
  
  
  
  
  
  
  
  .contener{
    background-color: #999;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25%;
   }
  input[type="text"],
  input[type="email"],
  select,
  textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  input[type="submit"]{
    width: 100%;
    background-color: green;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  textarea:focus,input:focus{
    background-color: rgb(255, 209, 252);
  }
  
  input[type="submit"]:hover{
    background-color: rgb(207, 21, 182);
  }
  
  
  
  
  
  
  
  .centrado{
    display: flex;
    justify-content: center;
  }
  
  .galeria{
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 33vw;
  }
  
  div.galeria img{
    width: 100%;
    height: auto;
  }
  
  .descripcion{
    padding: 15px;
    text-align: center;
  }
  
  
  
  
  
  
  .responsive{
    position: relative;
    padding-top: 30.25%;
  
  }
  
  
  .responsive iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
    
  
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    .contenedor {
        width: 90%;
        margin: 0 auto;
    }
    
  }
  
  
  @media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .contenedor {
        width: 95%;
        margin: 0 auto;
    }
    
  }
  
  @media (min-width: 1025px) {
    body {
        font-size: 18px;
    }
    .contenedor {
        width: 80%;
        margin: 0 auto;
    }
    
  }
  
  
  @media (max-width: 767px) {
    .responsive {
        overflow: hidden;
        padding-top: 56.25%; 
        position: relative;
    }
  
    .responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  }
  
  
  
  
  
  
  
  
  @media screen and (max-width: 768px) {
    
  
    .centrado {
        flex-direction: column; 
    }
  
    .galeria {
        width: 100%; 
        margin-bottom: 20px; 
    }
  
    
  }
  
  @media screen and (min-width: 769px) {    
    .centrado {  
        display: flex;
        justify-content: space-between;
    }
  
    .galeria {
        width: calc(25% - 10px); 
        margin-right: 20px; 
        border: 10px solid #0d0e0e; 
      padding: 10px; 
      margin: 10px;
    }
  
    
  
    
  
     }
  
  
     
  
     .slide{
      margin-top: 10px;
     }
     .slide img {
      height: 65vh;
     }
  
     h3 {
      margin: 0;
    padding: 20px;
    text-align: center;
     }
  
     #galeria img{
      width:  100%;
      height: 100%;
      object-fit: cover;
  
  }
  
  .fotoa{
      grid-area: fotoa;
  
  }
  
  .fotob{
      grid-area: fotob;
  
      
  
  }
  .fotoc{
      grid-area: fotoc;
  
  }
  
  .fotod{
      grid-area: fotod;
  
  }
  
  .fotoe{
      grid-area: fotoe;
  }
  
  .fotof{
      grid-area: fotof;
  }
  
  
  #galeria{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 20vh);
      grid-template-areas:
      "fotoa" "fotob" "fotoc" "fotod" "fotoe" "fotof";
  
  
  }
  
  
  @media (width > 768px){
      #galeria{
          grid-template-columns: 1fr 2fr ;
          grid-template-rows: repeat(4, 30vh);
          grid-template-areas: 
          "fotoa fotob"
          "fotoc fotod"
          "fotoe fotof";
      }
  }
  
  @media (width > 1200px) {
      #galeria{
          grid-template-columns: 1fr 2fr 1fr;
          grid-template-rows: repeat(3,33hv);
          grid-template-areas:
          "fotoa fotob fotoc"
         "fotod fotoe fotof";
  
  
      }
  
      
  }
  
  
  h4{
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  .contener {
    overflow-x: auto;
  }
  
  
  