div.galeria img{
  width: 100%;
  height: auto;
}

.descripcion{
  padding: 15px;
  text-align: center;
}






.responsive{
  position: relative;
  padding-top: 30.25%;

}


.responsive iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


  




@media (min-width: 768px) and (max-width: 1024px) {
  body {
      font-size: 16px;
  }
  .contenedor {
      width: 90%;
      margin: 0 auto;
  }
  
}


@media (max-width: 767px) {
  body {
      font-size: 14px;
  }
  .contenedor {
      width: 95%;
      margin: 0 auto;
  }
  
}

@media (min-width: 1025px) {
  body {
      font-size: 18px;
  }
  .contenedor {
      width: 80%;
      margin: 0 auto;
  }
  
}


@media (max-width: 767px) {
  .responsive {
      overflow: hidden;
      padding-top: 56.25%; 
      position: relative;
  }

  .responsive iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}








@media screen and (max-width: 768px) {
  

  .centrado {
      flex-direction: column; 
  }

  .galeria {
      width: 100%; 
      margin-bottom: 20px; 
  }

  
}

@media screen and (min-width: 769px) {    
  .centrado {  
      display: flex;
      justify-content: space-between;
  }

  .galeria {
      width: calc(25% - 10px); 
      margin-right: 20px; 
      border: 10px solid #0d0e0e; 
    padding: 10px; 
    margin: 10px;
  }

  

  

   }


   

  